version: 2
jobs:
  build:
    docker:
      - image: andredesigna/pdfgen:latest
    steps:
      - checkout
      - run:
          name: Build Win32
          command: |
                  make CC=/usr/lib/mxe/usr/bin/i686-w64-mingw32.static-gcc CLANG_FORMAT=clang-format-8
                  cp testprog testprog.exe
                  make clean
      - run:
          name: Build
          command: make
      - run:
          name: Update coverage statistics
          command: |
                  if [[ "${CIRCLE_BRANCH}" == "master" ]] ; then
                        ./testprog
                        coveralls -i pdfgen.c
                  fi
      - run:
          name: Test
          command: scan-build-8 --status-bugs make check CLANG_FORMAT=clang-format-8
      - run:
          name: Fuzz Test
          command: make fuzz-check CLANG=clang-8 CLANG_FORMAT=clang-format-8 -j4
      - run:
          name: Docs
          command: make docs
      - run:
          name: Update build statistics
          command: |
                  if [[ "${CIRCLE_BRANCH}" == "master" ]] ; then
                          make check CLANG_FORMAT=clang-format-8
                          ./upload-stats.sh
                  fi
      - run:
          name: Build fuzz targets and deploy to Fuzzit
          command: |
                  make tests/fuzz-ppm tests/fuzz-jpg tests/fuzz-header tests/fuzz-text tests/fuzz-dstr CLANG=clang-8 CLANG_FORMAT=clang-format-8
                  export FUZZIT_KEY=1e1d3ac21dd4b8ccea5ccf5aace0dbe84422fe66ea9afb45746a6a537c8cfd0fbf6fa2c2e31564439fb95f96a85c5586
                  wget -O fuzzit https://bin.fuzzit.dev/fuzzit-1.1
                  chmod a+x fuzzit
                  ./fuzzit auth $FUZZIT_KEY
                  export FUZZIT_ARGS="--type sanity --revision ${CIRCLE_SHA1} --host stretch-llvm8 --branch ${CIRCLE_BRANCH}"
                  ./fuzzit create job $FUZZIT_ARGS SVuYwmU8bU4wxDxaPTq1 tests/fuzz-ppm
                  ./fuzzit create job $FUZZIT_ARGS 00SiKqNbkEybqbVUfkEa tests/fuzz-dstr
                  ./fuzzit create job $FUZZIT_ARGS V3lm359etEu0fwaT3vzC tests/fuzz-jpg
                  ./fuzzit create job $FUZZIT_ARGS ZOS6zGkysfBxQ01scUBb tests/fuzz-text
                  ./fuzzit create job $FUZZIT_ARGS u8Nywu1xZhsYAu86gUJQ tests/fuzz-header
      - store_artifacts:
          path: output.pdf
      - store_artifacts:
          path: pdfgen.h
      - store_artifacts:
          path: pdfgen.o
      - store_artifacts:
          path: docs/html
      - store_artifacts:
          path: testprog
      - store_artifacts:
          path: testprog.exe
      - store_artifacts:
          path: fuzz-artifacts
