version: 2
jobs:
  build:
    docker:
      - image: andredesigna/pdfgen:latest
    steps:
      - checkout
      - run:
          name: Build Win32
          command: |
                  make CC=/usr/lib/mxe/usr/bin/i686-w64-mingw32.static-gcc CLANG_FORMAT=clang-format-8
                  cp testprog testprog.exe
                  make clean
      - run:
          name: Build
          command: make
      - run:
          name: Update cloud statistics
          command: |
                  if [[ "${CIRCLE_BRANCH}" == "master" ]] ; then
                        ./testprog
                        coveralls -i pdfgen.c
                  fi
      - run:
          name: Test
          command: scan-build-8 --status-bugs make check CLANG_FORMAT=clang-format-8
      - run:
          name: Fuzz Test
          command: make fuzz-check CLANG=clang-8 CLANG_FORMAT=clang-format-8 -j4
      - run:
          name: Docs
          command: make docs
      - run:
          name: Update build statistics
          command: |
                  if [[ "${CIRCLE_BRANCH}" == "master" ]] ; then
                          make check CLANG_FORMAT=clang-format-8
                          ./upload-stats.sh
                  fi
      - store_artifacts:
          path: output.pdf
      - store_artifacts:
          path: pdfgen.h
      - store_artifacts:
          path: pdfgen.o
      - store_artifacts:
          path: docs/html
      - store_artifacts:
          path: testprog
      - store_artifacts:
          path: testprog.exe
